<h1>Admin Panel</h1>

<form action="/admin" method="POST">
  
Login:<br> <input type="text" name="login"><br>
Password:<br> <input type="password" name="password"><br>

  
  <input type="submit" class="btn btn-primary">

</form>

<%= @report %>