<h1>Записаться!</h1>
<p>На этой страние вы можете Записаться в Barber Shop!<p>

<form action= "/" method= "POST">             <!Blok tablica!>
  
  <div class="form-group">
    
    <legend>Ваше имя</legend>   

      <label class="form-label">Введите ваше имя</label>
      <input name="aaa" type="text" class="form-control" placeholder="Ваше имя">
    
    
    <legend>Телефон</legend>   

      <label class="form-label">Введите ваш Телефон</label>
      <input name="bbb" type="text" class="form-control" placeholder="Ваш телефон">
    
    <legend>Адрес</legend>   

      <label class="form-label">Введите ваш Адрес</label>
      <input name="ccc" type="text" class="form-control" placeholder="Ваш телефон">
    
    </div>
    
 <button type="submit" class="btn btn-primary">Записаться</button>
  
  </fieldset>
</form>