<h1>Записаться!</h1>
<p>На этой страние вы можете Записаться в Barber Shop!<p>

<form>                             <!Blok tablica!>
  <div class="form-group">
    <legend>Ваше имя</legend>   

      <label class="form-label">Введите ваше имя</label>
      <input type="text" class="form-control" placeholder="Ваше имя">
    </div>
    
    
    <button type="submit" class="btn btn-primary">Записаться</button>
  
  </fieldset>
</form>