<h1>Admin Panel (Watch Result)</h1>

<table border="1">
<% @file.each_line do |line| %>
  <tr><td><%= line %></td></tr>
<% end %>
</table>

<%= @file.close %>


<!Mozno napisat tak>
<!<h2>RESULT:</h2>>
<!<%= @file.read %>>
<!<%= @file.close %>>